.menuButton {
  margin: 0 12px;
  border-radius: 10px;
  width: calc(100% - 20px);
  padding: 0 16px;
  cursor: pointer;
  background-color: transparent;
  font-size: 1.4rem;
  line-height: 2rem;
  font-weight: 400;
  border: 0;
  text-align: left;
  height: 40px;
  color: var(--yt-spec-error-background);

  &:hover {
    background-color: #f2f2f2;
  }

  &Active {
    color: var(--yt-endpoint-hover-color,var(--yt-spec-text-primary));
    background-color: var(--yt-spec-10-percent-layer);

    &:hover {
      background-color: rgba(0, 0, 0, 0.15);
    }
  }
}